body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
nav{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}
nav a{
    color: #020000a4;
    text-decoration: none;
    font-size: 17px;
    margin: 0 15px;
    font-weight: bold;
}
nav button{
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 17px;
    padding: 7px 7px;
}
nav button:hover{
    background-color: #333;
}

.logo img{
    height: 5%;
    width: 5%;
}
.profile img{
    height: 10%;
    width: 20%;
    border-radius: 60%;
}
.profile{
    text-align: center;
}
.profile button{
    background-color:black;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 13px 13px;
}
.profile button:hover{
    background-color: #333;
}
.profile a{
    text-decoration: none;
    color: #fff;
}
.profile p{
    font-size: 16px;
    color: #333;
}
.profile h1{
    font-size: 32px;
    font-weight: bold;
}
.about{
    text-align: center;
    margin: 100px 200px;
    border: 2px solid #ddd;
    border-radius: 12px;
}
.about span{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 12px;
}
.about button{
    font-size: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 12px 12px;
}
.form {
    margin: 80px auto;
    max-width: 600px;
    padding: 40px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 12px;
    justify-content: center;
}
.form input, textarea{
    border: 2px solid #ddd;
    border-radius: 7px;
}
.form button{
    background-color: black;
    color: #fff;
    border-radius: 7px;
    font-size: 20px;
}
.form button:hover{
    background-color: #333;
}
.form h2{
    text-align: center;
}
footer{
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}
.footer img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
}
